doctype 5
html
  head
    title Meeting
    style(type="text/css").
      #participantArea { list-style-type: none; padding: 0px 0px 0px 20px; }    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css' )
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css', type='text/css' )
    script(type="text/javascript", src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")
    script(type="text/javascript", src="/javascripts/jquery-1.10.2.js")
    script(type="text/javascript", src="/javascripts/meeting.js")
    
  body(onload="Init('#{id}', #{latitude}, #{longitude});")
    div(id="content").container
      div.page-header
        h1 #{subject}
      div.col-sm-8
        p !{description}
        h3 When
        p #{start} - #{end}
        h3 Where
        div(id="maparea")
          p #{location}
          if isLocationDetermined
            p(id="mapinstructions") Drag the blue push pin, or double-click on the map, to adjust the coordinates of your meeting.
          else
            div.alert.alert-info
              p We can't track your meeting until you tell us the coordinates of your meeting.
            p(id="mapinstructions") Double-click on the map to set the coordinates of your meeting.
          label(for="locationSearch") Center the map at
          |  
          input(name="locationSearch", id="locationSearch")
          |  
          input(type="button", id="locationSearchButton", value="Go").btn.btn-sm.btn-default
          div(id="map", style="position:relative; width:100%; height:400px;")
        h3 Who
        ul(id="participantArea")
          li
            input(type="checkbox", value="#{organiser.email}", checked=(organiser.track? "checked" : undefined))
            |  #{organiser.name} (
            a(href="mailto:#{organiser.email}") email
            | )
          each attendee in attendees
            li
              input(type="checkbox", value="#{attendee.email}", checked=(attendee.track? "checked" : undefined)) #{attendee.name}
              |  #{attendee.name} (
              a(href="mailto:#{attendee.email}") email
              | )
      div.col-sm-4
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Reminder Schedule
          div.panel-body
            | We'll check the location of attendees:
            ul
              li 2 hours,
              li 1 hour,
              li 30 minutes,
              li 15 minutes,
              li 5 minutes, and
              li 0 minutes before the meeting start time
